/* Boxes */
.Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box{
    font-size: 25px;
    font-weight: bold;
    background-color: #63cff5;
    color:#f4f7ff;
    width: 240px;
    height: 160px;
    border-radius: 24px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.07);
    margin: 20px;
  }
  .box:nth-child(3n){
    background-color: #f9cff5;
  }
  .box:nth-child(3n+1){
    background-color: #6259e8;
  }
  .topic {
      margin-left: 20px;
  }

input.title, textarea.Container {
  background-color: #fbfcff;
  margin:20px;
  border:none;
}
input.title {
  font-size:200%;
  font-weight: bolder;
  padding-bottom:10px;margin-bottom:30px;border-bottom: 2px solid darkgray;width: 90%;
}
textarea.Container {
  width: 93%;
  height: 95vh;
}
input.title:focus, textarea.Container:focus{
  outline:none;
}